/*================ Struct Logic Block ===============*/
html,
body {
	height:  100%;
}

.wrapper {
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}


	/*======== Image Wrapper ===========*/

.image-wrapper {
	height: 100%;
}

.image-wrapper img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}


	/*======== End Image Wrapper ===========*/

:root{

	--main-color: #357ea2;
	--second-color: #08222e;
	--accent-color: #89001c;
	--second-accent-color: #3A000B;
	--bright-accent-color: #FF001C;
	--bright-accent-color--rgb: 255,0,28;

	--center-object-width: 70%; 
	--grid-price-width: 90%;
}


/*================ End Struct Logic Block ===========*/

* {
	box-sizing: border-box;
}

/*================================================*/
/*================ Body Block ====================*/
/*================================================*/

body {
	margin: 0; 
	background-color: #e5e5e5;
}

/*================================================*/
/*================ End Body Block ================*/
/*================================================*/



/*================================================*/
/*================ Header Block ==================*/
/*================================================*/

header {
	color: black;

	margin: 10px;
	padding: 10px;
	background: linear-gradient( to bottom, white, var(--main-color));
	border-radius: 20px;

	border: 4px solid black;

	font-family: "Verdana";

	font-size: 1.25em;
}

.header-info {

	margin-bottom: 10px;

	display: flex;

	align-items: center;

}

.engarde-logo {

	display: flex;
	align-items: center;
}

.icon-image {

	margin-left: 20px;

	height: 65px;

	/*justify-self: start;*/
}

.icon-image img {

	display: block;
	max-height: 100%;

}

.engarde{
	
	margin-left: 10px;

	white-space: nowrap;

}

.engarde-name {
	
	font-size: 35px;
	
	line-height: 0.7;

	text-align: left;
}

.engarde-prefix {

	font-weight: bold;

	font-size: 13.85px;

	position: relative;
	left: 3px;

}

.header-address {

	display: flex;
	justify-content: space-between;

	font-style: normal;
	font-size: 1em;
}

.header-address a:link {

	color: black;

}

.header-address p {
	margin: 5px;
}

.nav-menu {

	display: flex;
	justify-content: space-between;

	width: 100%;

	margin-left: 20px;
	margin-right: 20px;
}

.menu-element a:link , a:visited {
	color: black;

	text-decoration: none;
}

.menu-element{

	position: relative;

	text-align: center;

	margin: 10px;

	display:flex;
	align-items: center;

}

.nav-menu .menu-element a:after {
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;	

	bottom: -5px;
	left: 0px;

	background-image: linear-gradient(to right, #89001c, #FF001C, #89001c);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 0%;

	transition: 0.3s;
}

.nav-menu .menu-element a:hover:after {
	width: 100%;
	background-size: 100%;
}

.nav-menu .menu-element a:hover {
	background-image: linear-gradient(to right, #89001c, #FF001C, #89001c);
	background-clip: text;
	color: transparent;

}

.mobile-nav-menu ul{
	display:none;

	padding: 0px;
	margin: 0px;

	list-style: none;
	width: 100%;

	/*margin-left: 20px;
	margin-right: 20px;*/

	/*gap:*/

	transition: 1s;

}

.mobile-nav-menu ul li{
	display:flex;

	align-items: center;
	text-align: center;

	margin: 10px;
}

/*Бургер меню по дефолту*/

/*скрыто*/
#burger-label{
	display: none;
}

#burger-toggle{
	display: none;
}

/*----------------------*/

@media (max-width: 1100px){

	.engarde {
		display: none;
	}

}

@media (max-width: 650px){

	header {
		padding: 0px;
		border-style: none;

		background: #357ea2;

 		border-style: solid;
		border-radius: 20px;
		border-color: black;
		border-width: 2px;

	}

	.header-info {
		margin: 0px;
		padding: 10px 10px 20px 10px;

		
		background: linear-gradient( to bottom, white, #387ea2);

		border-radius: 18px;
	}

	.header-address {
		display: none;
	}

	.icon-image{
		height: 50px;
		margin-left: 5px;
	}

	body{
		font-size: 0.75rem;
	}

	/*=========Меню Бургера========*/

	.nav-menu .menu-element{
		display: none;
	}

	.nav-menu{
		justify-content: end;

		margin-right: 5px;
	}

	#burger-label{
		display: block;
		position: relative;

		height: 25px; 
		width: 30px;

	}

	#burger-label::after, label::before, label span {

		position: absolute;

		width: 100%;
		height: 4px;
		background-color: black;

		transition: .3s;
	} 

	#burger-label::after {
		content: "";
		top: 1px;
	}

	#burger-label::before {
		content: "";
		bottom: 0;
	}

	#burger-label span {
		top: 11px;
	}


	#burger-toggle:checked ~ .header-info .nav-menu label::after{
		transform: rotate(45deg);
		top: 11px;

		background-color: #8a001e;
	}

	#burger-toggle:checked ~ .header-info .nav-menu label::before{
		transform: rotate(-45deg);
		bottom: 10px;

		background-color: #8a001e;
	}

	#burger-toggle:checked ~ .header-info .nav-menu label span{
		transform: rotate(-45deg);
		top: 11px;

		background-color: #8a001e;
	}

	#burger-toggle:checked ~ .header-info {
		/*border-radius: 18px 18px 0px 0px;*/
		border-width: 2px 2px 0px 2px;
	}

	#burger-toggle:checked ~ .header-info {
		border-radius: 18px 18px 0px 0px;

		transition: border-bottom-left-radius 0.5s, border-bottom-right-radius 0.5s;
	}

	#burger-toggle:checked ~ .mobile-nav-menu {
		display: flex;
	}

	#burger-toggle:checked ~ .mobile-nav-menu ul{

		opacity: 1;
		display: flex;

		height: 50vh;

		visibility: visible;
	}

	.mobile-nav-menu ul{
		display: flex;

		opacity: 0;
		overflow: hidden;
		visibility: hidden;
		
		flex-direction: column;
		text-align: center;
		justify-content: space-around;		

		height: 0px;	
	}

	

	.mobile-nav-menu ul li {
		font-size: 2em;
		margin: 0px;
		justify-content: center;
	}

	
}

/*================================================*/
/*================ End Header Block ==============*/
/*================================================*/



/*================ Main Block ====================*/

main {
	width: auto;
	margin: 10px;
}

main section{

	display: flex;
	flex-direction: column;
	align-items: center;

	width:100%;
}

	/*===== Members Section =====*/

.member-cards {
	display:flex;
	align-self: start;

}

.id-card {
	display: flex;
	flex-direction: row;

	margin: 20px;

	width: var(--center-object-width);

	border-style: solid;
	border-width: 4px;
	border-color: black;
	border-radius: 20px;

	overflow: hidden;

}

.image-part {
	display: flex;
	justify-content: center;
	align-items: center;	

	background-image: linear-gradient(to right, white, #357ea2)
}

.id-card.black-theme .image-part {
	background-image: linear-gradient(to right,  #357ea2, #08222e)
}

.image-part .image-wrapper {
	display: inline-block;

	position: relative;

	height: 250px;
	width: 250px;

	margin: 40px;

	border-radius: 10px;

	background-color: white;

	overflow: hidden;
}

.image-part .image-wrapper img {
	width: 100%;
	/*max-height: 100%;*/
	display: block;

	position: absolute;
	bottom: 0px;
}

.info-part-card {
	display: flex;
	align-items: stretch;

	position: relative;

	background-color: white;

	width: 100%;
}

.passive-info-part-card {
	display: flex;
	flex-direction: column;
	align-items: center;


	padding: 20px;

	width: 100%;

	color: black;

	font-size: 1.25em;
}

.name {
	margin: 20px;
}

.characters{
	padding-left: 20px;

	align-self: start;
}

.specialization {
	margin-bottom: 0px;

	align-self: start;
	font-weight: bold;
}

.specialization-info {
	margin-top: 5px;

	text-align: justify;
}

.active-info-part-card {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;

	padding: 20px;

	top: 0px;
	bottom:0px;

	width: 100%;

	color: white;
	font-size: 1.25em;

	background-color: #357ea2;

	overflow: auto;

	clip-path: inset(0% 100% 0% 0%);
	transition: clip-path 0.5s ease;

	cursor: ns-resize;
}

.id-card.black-theme .active-info-part-card {
	background-color: #08222e;
}

.image-part:hover ~ .info-part-card .active-info-part-card,  .active-info-part-card:hover{

	clip-path: inset(0% 0% 0% 0%);

}

.achievement {
	position: relative;

	padding-top: 12.5px;
	margin: 10px;
	margin-left: 20px;

	/*align-self: start;*/

	cursor: auto;
}

.achievement .image-wrapper {
	position: absolute;

	background-color: white;

	height: 75px;
	width: 75px;

	top: 0px;
	left: 20px;

	z-index: 2;

	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 10px;

}

.achievement-border{
	display: flex;
	flex-direction: column;

	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 10px;

	overflow: hidden;

	width: 500px;
	}

.achievement-name{
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	padding-left: 95px;

	background-color: #89001c;

	min-height: 50px;
	width: 100%;

	box-shadow: 0px 7px 5px -3px black;

	z-index: 1;

	font-weight: bold;
}

.achievement-info{
	display: flex;
	justify-content: start;
	align-items: center;

	padding: 10px;
	padding-left: 20px;

	background-color: #08222e;

	min-height: 50px;
	width: 100%;

	font-size: 0.75em;
	text-align: justify;
	font-family: "Arial";

	color: #e4e4e4;

}

.id-card.black-theme .achievement-info{
	background-color: #3A000B;
}

	/*===== End Members Section =====*/

.price-table {
	background: white;

	border-radius: 20px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);

	overflow: hidden;

	max-width: 1200px;

	width: 100%;

	border-style: solid;
	border-width: 4px;
	border-color: black;
	border-radius: 20px;
}

/* ===== ШАПКА ТАБЛИЦЫ ===== */
.table-grid-header {
	background: linear-gradient(to bottom, white, var(--main-color));

	color: black;

	padding: 30px;

	text-align: center;
}

.table-grid-header h2 {
	font-size: 1.75em;

	margin-bottom: 10px;

	font-weight: bold;

}

.table-grid-header p {
	font-size: 1.1em;
}

.table-grid {
	display: grid;
	grid-template-columns: 1fr;
}

.grid-header-item {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 20px;

	font-weight: bold;
	color: black;

	border-bottom: 2px solid #e9ecef;

	text-align: center;

}

.grid-header-row{
	display: grid;

	width: 100%;

	grid-template-columns: 3fr 1fr;


	background-color: var(--main-color)
}

.table-grid-row{

	display: grid;

	width: 100%;

	grid-template-columns: 3fr 1fr;

}

.table-grid-row.note-true{
	cursor: pointer;
}

.table-grid-row:hover {
	background: #f8f9fa;
}

.table-grid-row.expanded {
	background:  #f8f9fa;
}

.service-cost-grid {
	display: grid;

	width: 100%;

	grid-template-columns: 2fr 1fr;

	transition: background-color 0.3s ease;
}



.grid-item {
	display: flex;
	align-items: center;

	padding: 20px;

	border-style: solid;
	border-color: #e9ecef;
	border-width: 0px;
	border-bottom-width: 1px;

	min-height: 60px; 
}

.grid-item:hover {
	background: #f8f9fa;
}

.service-name {
	grid-column: 1;

	color: black;
	line-height: 1.5; 
}

.service-name.title{
	font-weight: bold;
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;


	grid-column: 2;

	font-weight: bold;

	color: #27ae60;
	text-align: center;
	font-size: 1.1em;
	}

.price.header {
	color: black;
}

.note-status {
	display: flex;
	align-items: center;
	justify-content: center;

	color: gray;
	text-align: center;

	height: 100%;
}

.note-status.true {
	color: var(--accent-color)
}

.note {
	padding: 0;
	max-height: 0;

	overflow: hidden;

	background: #fafafa;
	transition: all 0.4s ease; 

	border-left: 4px solid transparent;

	color: var(--accent-color);
	font-weight: bold;
}

.table-grid-row.expanded .note {
	max-height: 200px; 
	padding: 20px;
	border-left-color: var(--accent-color);
}

.table-grid-footer {
	
	background-image: linear-gradient(to bottom, var(--main-color,), var(--second-color));
	padding: 25px;
	text-align: center;
}

.contact-button {
	background-color: var(--accent-color);

	color: white;

	border: none;
	font-size: 1.1em;

	padding: 15px 40px;

	border-radius: 50px;

	cursor: pointer;

	transition: all 0.3s ease;

	box-shadow: 0 5px 15px rgba(var(--bright-accent-color--rgb), 0.4);
}

.contact-button:hover {
	transform: translateY(-2px);

	box-shadow: 0 8px 20px rgba(var(--bright-accent-color--rgb), 0.5);
}

@media (max-width: 768px) {
	.grid-header-row {
		display: none;
	}

	.table-grid-row {
		grid-template-columns: 1fr;

		border-style: solid;
		border-color: black;
		border-width: 0px;
		border-bottom-width: 2px;
	
	}
	
	.service-cost-grid {
		grid-template-columns: 1fr;
	}
	
	.grid-item {
		grid-column: 1;
	
		display: flex;
		justify-content: center;
		text-align: center;


		min-height: auto;
	}
	
}


/*================ End Main Block ================*/

/*================ Footer Block ==================*/

footer {
	border-radius: 20px 20px 0 0;
	background-color: #383838;
	background: linear-gradient( to bottom, #357ea2, #08222e);
	padding: 20px;

	height: 200px;
}

/*================ End Footer Block ================*/
