/*================ Struct Logic Block ===============*/
/* Данный блок прижимает header наверх, а footer вниз*/

/*обвёртка должна занимать минимум 100% экрана для этого:
  body должен занимать 100% размера родителя - html
  html должен занимать 100% размера экрана*/
   
html,
body {
	height:  100%;
}

/*минимальная высота установлена потому что, в таком
  случае контейнер будет расширятся при достижении
  более чем размер экрана, иначе (если стоит просто)
  height: 100% - обёртка будет иметь фиксированный
  размер в 100% от икрана и не будет прокручиватся

  wrapper - flex родитель, тогда main - flex ребёнок
  flex-direction: column устанавливает элементы друг
  под другом*/

.wrapper {
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

/*flex-grow задаёт вес эемента в занимаемом им объеме
  если для всех элементов указан 0, а для одного - 1
  то этот элемент расширится забирая всё свободное место
  если несколько элементов имеют вес 1 - то они
  распределятся равномерно, если же поменять заначение
  до 2, то такой элемент расширится в 2 раза
  в сравнении с элементами с весом 1*/

main {
	flex-grow: 1;
}

/*================ End Struct Logic Block ===========*/


/*================ Body Block ====================*/

body {
	margin: 0; 
	background-color: #e5e5e5;
}

/*================ End Body Block ==============*/

/*================ Header Block ==================*/

header {
	color: Black;
	margin: 20px;
	padding: 20px;
	background: linear-gradient( to bottom right,#262935, #b30938);
	border-radius: 20px;
}

.header-info {

	margin-bottom: 10px;

	/*display: grid;
	grid-template-columns: 1fr auto 1fr;*/

	display: flex;
	justify-content: start;

	align-items: center;

}

.icon-image {

	height: 100px;

	/*justify-self: start;*/
}

.icon-image img {

	display: block;
	max-height: 100%;

}

.engarde-name {
	
	/*color: white;*/
	font-size: 4em;

	/*justify-self: center;*/

	margin-left: 20px;

}


.header-address {

	/*justify-self: end;*/

	margin-left: auto;

	font-style: normal;

}

.header-address a:link {

	color: black;

}

.nav-menu {

	display: flex;
	justify-content: space-between;

}

.nav-menu .menu-element{

	padding: 10px;

	border-radius: 20px;

	border: 3px solid black;

	width: 200px;

	text-align: center;

}

/*================ End Header Block ==============*/


/*================ Main Block ====================*/

main {

}

/*================ End Main Block ================*/

/*================ Footer Block ==================*/

footer {
	border-radius: 20px 20px 0 0;
	background-color: #383838;
	padding: 20px;
}

/*================ End Footer Block ================*/
