/*================ Struct Logic Block ===============*/
html,
body {
	height:  100%;
}

.wrapper {
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}


	/*======== Image Wrapper ===========*/

.image-wrapper {
	height: 100%;
}

.image-wrapper img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}


	/*======== End Image Wrapper ===========*/

:root{
	--main-color: #357ea2;
	--second-color: #08222e;
	--dim-color: #4a5568;
	--second-dim-color: #f8f9fa;

	--first-gradient-color: white;
	--second-gradient-color: var(--main-color); 
	--first-dark-gradient-color: var(--main-color);
	--second-dark-gradient-color: var(--second-color);

	--accent-color: #89001c;
	--relict-accent-color: #89001c;
	--second-accent-color: #3A000B;
	--bright-accent-color: #FF001C;

	--first-text-color: black;
	--accent-text-color: var(--accent-color);
	--bright-text-color: white;
	--cost-text-color: #27ae60;
	--dim-text-color: var(--dim-color);
	--first-heading-text-color: var(--second-color);
	--second-heading-text-color: var(--main-color);

	--background-color:  #e5e5e5;
	--card-background-color: white;
	--icons-background-color: white;

	--main-border-color: black;
	--second-border-color: var(--accent-color);
	--third-border-color: var(--main-color);
	--table-border-color: rgba(255, 255, 255, 0.1);
	--accent-table-border-color: var(--main-color);
	--second-table-border-color: #e9ecef;
	--achievement-image-border-color: black;
	--achievement-body-border-color: black;

	--shadow-color: 0, 0, 0;
	--accent-shadow-color:255,0,28;


	--light-achievement-header: var(--relict-accent-color);
	--light-achievement-body: var(--second-color);

	--second-achievement-header: var(--accent-color);
	--second-achievement-body: var(--second-accent-color);

	--achievement-shadow: black 0px 7px 5px -3px;

	--card-top-color: var(--card-background-color);

	--big-shadow:0 20px 40px rgba(var(--shadow-color), 0.3);
	--small-shadow: 0 10px 25px rgba(var(--shadow-color), 0.3); 
	--accent-shadow-passive: 0 5px 15px rgba(var(--accent-shadow-color), 0.4);
	--accent-shadow-active: 0 8px 20px rgba(var(--accent-shadow-color), 0.5);

	--center-object-width: 70%;
	--max-width: 1200px;
 
	--grid-price-width: 90%;

}

.dark-mode {
	display: none;
}

.light-mode{
	display: block;
}

@media (prefers-color-scheme: dark) {

	:root{

		--light-main-color: #357ea2;
		--main-color: #08222e;
		--second-color: #031117;
		--dim-color: #888;
		--second-dim-color: #142d39;

		--first-gradient-color: #1c2b33;
		--second-gradient-color: var(--main-color); 
		--first-dark-gradient-color: var(--main-color);
		--second-dark-gradient-color: var(--second-color);

		--accent-color: #FF6380;
		--second-accent-color: #3A000B;
		--bright-accent-color: #FF001C;

		--first-text-color: white;
		--accent-text-color: var(--accent-color);
		--bright-text-color: white;
		--cost-text-color: #27ae60;
		--dim-text-color: var(--dim-color);
		--first-heading-text-color: var(--light-main-color);
		--second-heading-text-color: var(--light-main-color);

		--background-color:  #29373e;
		--card-background-color: #1c2b33;
		--icons-background-color: white;

		--main-border-color: black;
		--second-border-color: var(--accent-color);
		--third-border-color: var(--main-color);
		--table-border-color: rgba(255, 255, 255, 0.1);
		--accent-table-border-color: var(--light-main-color);
		--second-table-border-color: var(--light-main-color);
		--achievement-image-border-color: black;
		--achievement-body-border-color: black;

		--shadow-color: 0, 0, 0;
		--accent-shadow-color:255,0,28;


		--light-achievement-header: var(--light-main-color);
		--light-achievement-body: var(--second-color);

		--second-achievement-header: var(--accent-color);
		--second-achievement-body: var(--main-color);

		--achievement-shadow: black 0px 7px 5px -3px;


		--card-top-color: var(--accent-color);


		--big-shadow:0 20px 40px rgba(var(--shadow-color), 0.3);
		--small-shadow: 0 10px 25px rgba(var(--shadow-color), 0.3); 
		--accent-shadow-passive: 0 5px 15px rgba(var(--accent-shadow-color), 0.4);
		--accent-shadow-active: 0 8px 20px rgba(var(--accent-shadow-color), 0.5);

		--center-object-width: 70%;
		--max-width: 1200px;
	 
		--grid-price-width: 90%;

	}

	.dark-mode {
		display: block;
	}

	.light-mode{
		display: none;
	}
}


/*================ End Struct Logic Block ===========*/

* {
	box-sizing: border-box;
}

/*================================================*/
/*================ Body Block ====================*/
/*================================================*/

body {
	color: var(--first-text-color);

	margin: 0; 
	background-color: var(--background-color);
}

/*================================================*/
/*================ End Body Block ================*/
/*================================================*/



/*================================================*/
/*================ Header Block ==================*/
/*================================================*/

header {
	color: var(--first-text-color);

	margin: 10px;
	padding: 10px;
	background: linear-gradient( to bottom, var(--first-gradient-color), var(--second-gradient-color));
	border-radius: 20px;

	border: 4px solid var(--main-border-color);

	font-family: "Verdana";

	font-size: 1.25em;

	box-shadow: var(--small-shadow)
}

.header-info {

	margin-bottom: 10px;

	display: flex;

	align-items: center;

}

.engarde-logo {

	display: flex;
	align-items: center;
}

.icon-image {

	margin-left: 20px;

	height: 65px;

	/*justify-self: start;*/
}

.icon-image img {

	display: block;
	max-height: 100%;

}



.engarde{
	
	margin-left: 10px;

	white-space: nowrap;

}

.engarde-name {
	
	font-size: 35px;
	
	line-height: 0.7;

	text-align: left;
}

.engarde-prefix {

	font-weight: bold;

	font-size: 13.85px;

	position: relative;
	left: 3px;

}

.header-address {

	display: flex;
	justify-content: space-between;

	font-style: normal;
	font-size: 1em;
}

.header-address a:link {

	color: var(--first-text-color);

}

.header-address p {
	margin: 5px;
}

.nav-menu {

	display: flex;
	justify-content: space-between;

	width: 100%;

	margin-left: 20px;
	margin-right: 20px;
}

.menu-element a:link ,.menu-element a:visited {
	color: var(--first-text-color);

	text-decoration: none;
}

.menu-element{

	position: relative;

	text-align: center;

	margin: 10px;

	display:flex;
	align-items: center;

}

.nav-menu .menu-element a:after {
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;	

	bottom: -5px;
	left: 0px;

	background-image: linear-gradient(to right, var(--relict-accent-color), var(--bright-accent-color), var(--relict-accent-color));
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 0%;

	transition: 0.3s;
}

.nav-menu .menu-element a:hover:after {
	width: 100%;
	background-size: 100%;
}

.nav-menu .menu-element a:hover {
	background-image: linear-gradient(to right, var(--relict-accent-color), var(--bright-accent-color), var(--relict-accent-color));
	background-clip: text;
	color: transparent;

}

.back-to-top {
	position: fixed;
	bottom: 0;

	left:	50%;
	transform:translate(-50%, 0%);

	max-width: var(--max-width);
	height: 50px;
	width:100%;

	font-size: 24px;
	color: var(--accent-color);


	background: linear-gradient(var(--second-color));
	border: 3px solid var(--main-border-color);

	cursor: pointer;
	z-index: 1000;

	text-align: center;

	opacity: 0;
	visibility: hidden;

	transition: 0.2s;

	text-decoration: none;
}

.back-to-top:hover {
	background: linear-gradient(to right,var(--second-color),var(--main-color), var(--second-color));
}

.mobile-nav-menu ul{
	display:none;

	padding: 0px;
	margin: 0px;

	list-style: none;
	width: 100%;

	/*margin-left: 20px;
	margin-right: 20px;*/

	/*gap:*/

	transition: 1s;

	padding: 0 5%;
}

.mobile-nav-menu ul li{
	display:flex;

	align-items: center;
	text-align: center;

	margin: 10px;

	height:100%;
	border-bottom: 3px solid var(--first-text-color);	

}

.mobile-nav-menu ul li:last-child {
	border-bottom: none;
}

.mobile-nav-menu ul li a{
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.mobile-nav-menu ul li a:hover {
	background-image: linear-gradient(to right, var(--relict-accent-color), var(--bright-accent-color), var(--relict-accent-color));
	background-clip: text;
	color: transparent;
}

/*Бургер меню по дефолту*/

/*скрыто*/
#burger-label{
	display: none;
}

#burger-toggle{
	display: none;
}

/*----------------------*/

@media (max-width: 1100px){

	header .engarde {
		display: none;
	}

}

@media (max-width: 650px){

	header {
		padding: 0px;
		border-style: none;

		background: var(--main-color);

 		border-style: solid;
		border-radius: 20px;
		border-color: var(--main-border-color);
		border-width: 2px;

		overflow: hidden;
	}

	.header-info {
		margin: 0px;
		padding: 10px 10px 20px 10px;

		
		background: linear-gradient( to bottom, var(--first-gradient-color), var(--second-gradient-color));
	}

	.header-address {
		display: none;
	}

	header .icon-image{
		height: 50px;
		margin-left: 5px;
	}

	body{
		font-size: 0.75rem;
	}

	/*=========Меню Бургера========*/

	.nav-menu .menu-element{
		display: none;
	}

	.nav-menu{
		justify-content: end;

		margin-right: 5px;
	}

	#burger-label{
		display: block;
		position: relative;

		height: 25px; 
		width: 30px;

	}

	#burger-label::after, label::before, label span {

		position: absolute;

		width: 100%;
		height: 4px;
		background-color: var(--first-text-color);

		transition: .3s;
	} 

	#burger-label::after {
		content: "";
		top: 1px;
	}

	#burger-label::before {
		content: "";
		bottom: 0;
	}

	#burger-label span {
		top: 11px;
	}


	#burger-toggle:checked ~ .header-info .nav-menu label::after{
		transform: rotate(45deg);
		top: 11px;

		background-color: var(--relict-accent-color);
	}

	#burger-toggle:checked ~ .header-info .nav-menu label::before{
		transform: rotate(-45deg);
		bottom: 10px;

		background-color: var(--relict-accent-color);
	}

	#burger-toggle:checked ~ .header-info .nav-menu label span{
		transform: rotate(-45deg);
		top: 11px;

		background-color: var(--relict-accent-color);
	}

	#burger-toggle:checked ~ .header-info {
		border-width: 2px 2px 0px 2px;
	}

	#burger-toggle:checked ~ .header-info {
		border-radius: 18px 18px 0px 0px;

		transition: border-bottom-left-radius 0.5s, border-bottom-right-radius 0.5s;
	}

	#burger-toggle:checked ~ .mobile-nav-menu {
		display: flex;
	}

	#burger-toggle:checked ~ .mobile-nav-menu ul{

		opacity: 1;
		display: flex;

		height: 50vh;

		visibility: visible;
	}

	.mobile-nav-menu ul{
		display: flex;

		opacity: 0;
		overflow: hidden;
		visibility: hidden;
		
		flex-direction: column;
		text-align: center;
		justify-content: space-around;		

		height: 0px;	
	}

	

	.mobile-nav-menu ul li {
		font-size: 2em;
		margin: 0px;
		justify-content: center;
	}

	
}

/*================================================*/
/*================ End Header Block ==============*/
/*================================================*/



/*================ Main Block ====================*/

main {
	width: auto;
	margin: 10px;
}

main section{

	display: flex;
	flex-direction: column;
	align-items: center;

	width:100%;
}

	/*====== Colegge info ======*/

.college-card {
	background: var(--card-background-color);
	box-shadow: var(--big-shadow);
	overflow: hidden;
	max-width: var(--max-width);
	margin: 0 auto;

	border-style: solid;
	border-width: 4px;
	border-color: var(--main-border-color);
	border-radius: 20px;

	color: var(--first-text-color);
}

.college-grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 0;
	min-height: 100%;
}

.college-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.college-info-header {
	display: flex;
	justify-content: center;
	align-items: end;

	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;

	width: 100%;
	height: 125px;


	background-image: linear-gradient(to bottom, var(--first-gradient-color), var(--second-gradient-color));

}

/* Заголовок */
.college-info-header h2 {
	color: var(--first-heading-text-color);
	margin-bottom: 25px;
	font-size: 2.2em;
	text-align: center;

	border-bottom: 2px solid var(--second-border-color);

	padding-bottom: 10px;

	width: 100%;
}

.college-info-block {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	height: 100%;

	padding: 0px 50px 0px 50px;
}

/* Стили для текстового контента */
.intro-text {
	margin-top: 15px;

	font-size: 1.1em;
	margin-bottom: 25px;
	font-style: italic;
	color: var(--dim-text-color);
}

.mission-section, .values-section {
	margin-bottom: 30px;
}

.mission-section h3, .values-section h3 {
	color: var(--first-heading-text-color);
	margin: 25px 0 15px 0;
	font-size: 1.4em;
}

.mission-list, .values-list {
	list-style-type: none;
}

.mission-list li, .values-list li {
	margin-bottom: 12px;
	padding-left: 25px;
	position: relative;
}

.mission-list li:before {
	content: "•";
	color: var(--accent-text-color);
	font-weight: bold;
	position: absolute;
	left: 10px;
}

.values-list li:before {
	/*content: "★";*/
	content: "•";
	color: var(--accent-text-color);
	position: absolute;
	left: 10px;
}

.outro-text {
	font-weight: bold;
	margin-top: 25px;
	font-size: 1.1em;
	color: var(--accent-text-color);
}

.signature {
	margin-top: 30px;
	margin-bottom: 0px;

	font-style: italic;
	text-align: right;
	color: var(--dim-text-color);
}

.college-info-footer {
	margin-top: 20px;

	background: linear-gradient(to bottom, var(--first-gradient-color), var(--second-gradient-color));

	height: 10%;
}

.download-button {
	display: block;
	background: var(--accent-color);
	color: var(--bright-text-color);

	padding: 14px 30px;
	margin: 50px;
	margin-top: 25px;

	text-decoration: none;
	border-radius: 20px;
	font-weight: bold;
	text-align: center;
	transition: all 0.3s ease;
	border: none;
	cursor: pointer;
	font-size: 1em;
	box-shadow: var(--accent-shadow-passive);
}

.download-button:hover {
	transform: translateY(-2px);

	background: var(--accent-color);
	box-shadow: var(--accent-shadow-active);
}

.college-details {
	background-color: var(--second-dark-gradient-color);
	color: var(--bright-text-color);
	display: flex;
	flex-direction: column;
}

.college-details .college-info-header h2 {
	color: var(--bright-text-color);
	margin-bottom: 25px;
	font-size: 1.6em;
	padding-bottom: 10px;
}

.college-details .college-info-header {
	background-image: linear-gradient(to bottom, var(--first-dark-gradient-color), var(--second-dark-gradient-color));
	padding-left: 35px;
	padding-right: 35px;

}

/* Стили для таблицы */
.details-table {
	margin-bottom: 50px;
	margin-left: 35px;
	margin-right: 35px;

	border-collapse: collapse;
}

.details-table td {
	padding: 14px 14px 14px 0px;
	border-bottom: 2px solid var(--table-border-color);
	vertical-align: top;
}

.details-table .account{
	border-bottom: 2px solid var(--accent-table-border-color);
}

.details-table tr:last-child td {
	border-bottom: none;
}

.detail-label {
	font-weight: bold;
	color: var(--bright-text-color);
	width: 40%;
	padding-right: 15px;
}

.detail-label.bold {
	color: var(--second-heading-text-color)
}

.detail-value {
	color: var(--bright-text-color);
}

/* Адаптивность для планшетов и мобильных устройств */
@media (max-width: 968px) {
	.college-grid {
		grid-template-columns: 1fr;
	}

	
	
	.college-info-header {
		padding-left: 35px;
		padding-right: 35px;
	}
	
	.college-info-block {
		padding-left: 35px;
		padding-right: 35px;
	}

	.donwload-button {
		margin-left: 35px;
		margin-right: 35px;
		margin-bottom: 35px;

	}

	.details-table {
		margin-left: 35px;
		margin-right: 35px;
	}
}

@media (max-width: 768px) {

	.college-info-header {
		padding-left: 25px;
		padding-right: 25px;
	}
	
	.college-info-block {
		padding-left: 25px;
		padding-right: 25px;
	}

	.donwload-button {
		margin-left: 25px;
		margin-right: 25px;
		margin-bottom: 25px;

	}

	.details-table {
		margin-left: 25px;
		margin-right: 25px;
	}


	.college-info h2 {
		font-size: 1.8em;
	}
	
	.details-table td {
		display: block;
		width: 100%;
		padding: 10px 0;
	}
	
	.detail-label {
		width: 100%;
		padding-right: 0;
		margin-top: 15px;
	}

	.details-table .account.hidden {
		border-bottom: 2px solid var(--table-border-color);
	}
	
	.detail-label:first-child {
		margin-top: 0;
	}

	.values-list {
		padding-left: 0px;
	}

	.mission-list {
		padding-left: 0px;
	}

}

	/*===== Members Section =====*/

.member-cards {
	display:flex;
	align-self: start;

}

.id-card {
	display: flex;
	flex-direction: row;

	margin: 20px;

	width: 100%;

	max-width: var(--max-width);

	border-style: solid;
	border-width: 4px;
	border-color: var(--main-border-color);
	border-radius: 20px;

	overflow: hidden;

	box-shadow: var(--small-shadow)
}

.image-part {
	display: flex;
	justify-content: center;
	align-items: center;	

	background-image: linear-gradient(to right, var(--first-gradient-color), var(--second-gradient-color))
}

.id-card.black-theme .image-part {
	background-image: linear-gradient(to right,  var(--first-dark-gradient-color), var(--second-dark-gradient-color))
}

.image-part .image-wrapper {
	display: inline-block;

	position: relative;

	height: 250px;
	width: 250px;

	margin: 40px;

	border-radius: 10px;

	background-color: var(--icons-background-color);

	overflow: hidden;
}

.image-part .image-wrapper img {
	width: 100%;
	/*max-height: 100%;*/
	display: block;

	position: absolute;
	bottom: 0px;
}

.info-part-card {
	display: flex;
	align-items: stretch;

	position: relative;

	background-color: var(--card-background-color);

	width: 100%;
}

.passive-info-part-card {
	display: flex;
	flex-direction: column;
	align-items: center;


	padding: 20px;

	width: 100%;

	color: var(--first-text-color);

	font-size: 1.25em;
}

.name {
	margin: 20px;
}

.characters{
	padding-left: 20px;

	align-self: start;
}

.specialization {
	margin-bottom: 0px;

	align-self: start;
	font-weight: bold;
}

.specialization-info {
	margin-top: 5px;

	text-align: justify;
}

.active-info-part-card {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;

	padding: 20px;

	top: 0px;
	bottom:0px;

	width: 100%;

	color: var(--bright-text-color);
	font-size: 1.25em;

	background-color: var(--second-gradient-color);

	overflow: auto;

	clip-path: inset(0% 100% 0% 0%);
	transition: clip-path 0.5s ease;

	cursor: ns-resize;
}

.id-card.black-theme .active-info-part-card {
	background-color: var(--second-dark-gradient-color);
}

.image-part:hover ~ .info-part-card .active-info-part-card,  .active-info-part-card:hover{

	clip-path: inset(0% 0% 0% 0%);

}

.achievement {
	position: relative;

	padding-top: 12.5px;
	margin: 10px;
	margin-left: 20px;

	align-self: start;

	cursor: auto;
}

.achievement .image-wrapper {
	position: absolute;

	background-color: var(--icons-background-color);

	height: 75px;
	width: 75px;

	top: 0px;
	left: 20px;

	z-index: 2;

	border-style: solid;
	border-color: var(--achievement-image-border-color);
	border-width: 3px;
	border-radius: 10px;

}

.achievement-border{
	display: flex;
	flex-direction: column;

	border-style: solid;
	border-color: var(--achievement-body-border-color);
	border-width: 3px;
	border-radius: 10px;

	overflow: hidden;

	width: 500px;
	}

.achievement-name{
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	padding-left: 95px;

	background-color: var(--light-achievement-header);

	min-height: 50px;
	width: 100%;

	box-shadow: var(--achievement-shadow);

	z-index: 1;

	font-weight: bold;
}

.achievement-info{
	display: flex;
	justify-content: start;
	align-items: center;

	padding: 10px;
	padding-left: 20px;

	background-color: var(--light-achievement-body);

	min-height: 50px;
	width: 100%;

	font-size: 0.75em;
	text-align: justify;
	font-family: "Arial";

	color: var(--bright-text-color);

}

.id-card.black-theme .achievement-info{
	background-color: var(--second-achievement-body);
}

@media (max-width: 900px) {

	.id-card {
	flex-direction: column;
	}

	.image-part {
		background-image: linear-gradient(to bottom,  var(--first-gradient-color), var(--second-gradient-color))
	}

	.id-card.black-theme .image-part {
		background-image: linear-gradient(to bottom,  var(--first-dark-gradient-color), var(--second-dark-gradient-color))
	}

	.active-info-part-card {
		clip-path: inset(0% 0% 100% 0%)
	}
}

	/*===== End Members Section =====*/

.price-table {
	background: var(--card-background-color);

	border-radius: 20px;
	box-shadow: var(--big-shadow);

	overflow: hidden;

	max-width: 1200px;

	width: 100%;

	border-style: solid;
	border-width: 4px;
	border-color: var(--main-border-color);
	border-radius: 20px;
}

.table-grid-header {
	background: linear-gradient(to bottom, var(--first-gradient-color), var(--second-gradient-color));

	color: var(--first-text-color);

	padding: 30px;

	text-align: center;
}

.table-grid-header h2 {
	font-size: 1.75em;

	margin-bottom: 10px;

	font-weight: bold;

}

.table-grid-header p {
	font-size: 1.1em;
}

.table-grid {
	display: grid;
	grid-template-columns: 1fr;
}

.grid-header-item {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 20px;

	font-weight: bold;
	color: var(--first-text-color);

	border-bottom: 2px solid var(--third-border-color);

	text-align: center;

}

.grid-header-row{
	display: grid;

	width: 100%;

	grid-template-columns: 3fr 1fr;


	background-color: var(--second-gradient-color)
}

.table-grid-row{

	display: grid;

	width: 100%;

	grid-template-columns: 3fr 1fr;

}

.table-grid-row.note-true{
	cursor: pointer;
}

.table-grid-row:hover {
	background: var(--second-dim-color);
}

.table-grid-row.expanded {
	background: var(--second-dim-color);
}

.service-cost-grid {
	display: grid;

	width: 100%;

	grid-template-columns: 2fr 1fr;

	transition: background-color 0.3s ease;
}



.grid-item {
	display: flex;
	align-items: center;

	padding: 20px;

	border-style: solid;
	border-color: var(--second-table-border-color);
	border-width: 0px;
	border-bottom-width: 1px;

	min-height: 60px; 
}

.service-name {
	grid-column: 1;

	color: var(--first-text-color);
	line-height: 1.5; 
}

.service-name.title{
	font-weight: bold;
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;


	grid-column: 2;

	font-weight: bold;

	color: var(--cost-text-color);
	font-size: 1.1em;
	}

.price.header {
	color: var(--first-text-color);
}

.note-status {
	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--dim-text-color);
	text-align: center;

	height: 100%;
}

.note-status.true {
	color: var(--accent-text-color)
}

.note {
	padding: 0;
	max-height: 0;

	overflow: hidden;

	background: var(--second-dim-color);
	transition: all 0.4s ease; 

	border-left: 4px solid transparent;

	color: var(--accent-text-color);
	font-weight: bold;
}

.table-grid-row.expanded .note {
	max-height: 200px; 
	padding: 20px;
	border-left-color: var(--second-border-color);
}

.table-grid-footer {
	
	background-image: linear-gradient(to bottom, var(--first-dark-gradient-color), var(--second-dark-gradient-color));
	padding: 25px;
	text-align: center;
}

.contact-button {
	background-color: var(--accent-color);

	color: var(--bright-text-color);

	border: none;
	font-size: 1.1em;

	padding: 15px 40px;

	border-radius: 50px;

	cursor: pointer;

	transition: all 0.3s ease;

	box-shadow: var(--accent-shadow-passive);
}

.contact-button:hover {
	transform: translateY(-2px);

	box-shadow: var(--accent-shadow-active);
}

@media (max-width: 768px) {
	.grid-header-row {
		display: none;
	}

	.table-grid-row {
		grid-template-columns: 1fr;

		border-style: solid;
		border-color: var(--main-border-color);
		border-width: 0px;
		border-bottom-width: 2px;
	
	}
	
	.service-cost-grid {
		grid-template-columns: 1fr;
	}
	
	.grid-item {
		grid-column: 1;
	
		display: flex;
		justify-content: center;
		text-align: center;


		min-height: auto;
	}
	
}

	/*================ contact card  ===============*/
		
.contact-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 30px;
	width: 100%;
	max-width: var(--max-width);
}

.contact-card {
	background: var(--card-background-color);
	box-shadow: var(--small-shadow);
	overflow: hidden;
	transition: all 0.3s ease;

	border-style: solid;
	border-width: 4px;
	border-color: var(--main-border-color);
	border-radius: 20px;

}

.contact-card:hover {
	transform: translateY(-8px);
	box-shadow: var(--big-shadow);
}

.card-top {
	background: linear-gradient(to bottom, var(--first-gradient-color), var(--second-gradient-color));
	padding: 40px 30px 30px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	  border-bottom: 4px solid var(--card-top-color);
}

.card-icon {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: var(--icons-background-color);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
}

.card-content {
	padding: 30px;
	text-align: center;
}

.card-content h3 {
	color: var(--first-text-color);
	font-size: 1.25em;
	margin-bottom: 15px;
	font-weight: bold;
}

.card-content p {
	color: var(--dim-text-color);
	font-size: 1em;
	line-height: 1.5;
	margin-bottom: 8px;
}

.card-content a {
	color: var(--accent-text-color);
	text-decoration: none;
	font-size: 1em;
	display: block;
}

.card-content a:hover {
	background-image: linear-gradient(to right, var(--relict-accent-color), var(--relict-accent-color), var(--bright-accent-color), var(--relict-accent-color), var(--relict-accent-color));
	background-clip: text;
	color: transparent;
}

.work-hours p {
	margin-bottom: 5px;
}

@media (max-width: 650px) {
	.contact-container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);
		gap: 15px;

	}
	
	.card-top {
		padding: 25px 20px 20px 20px;
	}
	
	.card-content {
		padding: 20px;
	}
	
	.card-icon {
		width: 60px;
		height: 60px;
		font-size: 24px;
	}

	.card-content h3 {
		font-size: 1.5em;
	}
	
	.card-content p, .card-content a {
		font-size: 1.1em;
	}


}

	
	
/*================ End Main Block ================*/

/*================ Footer Block ==================*/

.footer-wrapper{
	margin-top: 80px;

	overflow: hidden;

	border-radius: 20px 20px 0px 0px; 

	border-style: solid;
	border-width: 4px;
	border-color: var(--main-border-color);
}

.footer-gradient {
	background: linear-gradient(to bottom, var(--first-dark-gradient-color), var(--second-dark-gradient-color));
	height: 80px;
	width: 100%;

}

.footer-main {
	background-color: var(--second-dark-gradient-color);
	color: var(--bright-text-color);
	padding: 40px 20px 70px 20px;
}

.footer-container {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}

.footer-section h3 {
	color: var(--bright-text-color);
	margin-bottom: 20px;
	font-size: 1.2em;
	border-bottom: 2px solid var(--second-border-color);
	padding-bottom: 10px;
}

.footer-section p, 
.footer-section a {
	color: var(--bright-text-color);
	text-decoration: none;
	margin-bottom: 10px;
	display: block;
	transition: color 0.3s ease;
}

.footer-section a:hover {
	color: var(--accent-text-color);
}

.logo-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	justify-content: space-between;
}

.logo-placeholder {
	padding: 15px;
	margin-bottom: 15px;
	width: 100%;
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-placeholder .engarde-logo .icon-image {
	margin-left: 0px;
}

.slogan {
	text-align: justify;
	line-height: 1.5;
}

.contact-info .contact-item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 15px;
}

.contact-item.column {
	flex-direction: column;
}

.contact-item.column .contact-value {
	margin-bottom: 10px;
}

.contact-label {
	color: var(--second-heading-text-color);
	font-weight: bold;
	margin-right: 10px;
}

.contact-value {
	flex: 1;
}

.contact-value a {
	text-decoration: none;
	transition: color 0.3s ease;
}

.contact-value a:hover {
	color: var(--accent-text-color);
	text-decoration: underline;
}

.footer-bottom {
	grid-column: 1 / -1;
	margin-top: 30px;
	padding-top: 20px;
	border-top: 2px solid var(--second-border-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.developer {
	font-size: 0.9em;
}

.copyright {
	font-size: 0.9em;
}

/* Адаптивность */
@media (max-width: 1130px) {
	.footer-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 25px;
	}
	
}

@media (max-width: 650px) {
	.footer-main {
		padding: 30px 15px 15px;
	}

	.footer-gradient {
		height: 60px;
	}

	.footer-container {
		grid-template-columns: 1fr;
		gap: 20px;
	}
	
	.footer-section {
		text-align: left;
	}
	
	.logo-container {
		align-items: flex-start;
	}
	
	.footer-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.slogan {
		text-align: center
	}
	
	.footer-section h3 {
		width: 100%;
		text-align: center;
	}

	.contact-info .contact-item {
		flex-direction: column;
		align-items: center;
	}
	
	.contact-label {
		margin-bottom: 5px;
		margin-right: 0;
	}

	.footer-bottom {
		flex-direction: column;
		gap: 10px;
		text-align: center;
	}
	
}

/*================ End Footer Block ================*/
